<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/poll.css' %}">
    <title>Home</title>
</head>
<body>
<div style="margin-left:1250px;" class="btn-group" role="group" aria-label="right">
    <button type="button" class="btn btn-default"><a href="/logout">LogOut</a></button>
    <button type="button" class="btn btn-default"><a href="/login">LogIn</a></button>
    <button type="button" class="btn btn-default"><a href="/signup">Sign Up</a></button>
</div>
<div class="page-header">
    <h1><a style="font-size: 60px; color: #f2ffcc;" href="/">Minguinho's schedule</a></h1>
</div>

<div>
    <ul class="nav nav-pills">
        <li style="color:#ffffff; font-family: 'Comic Sans MS'; background-color: #ffcc00; " role="presentation"><a href="/">Home</a> </li>
        <li style="color:#ffcc00; font-family: 'Comic Snas MS'; background-color: #fff5cc;" role="presentation"><a href="/post/list">Post List</a> </li>
        <li style="color:#ffcc00; font-family: 'Comic Snas MS'; background-color: #fff5cc;" role="presentation"><a href="/post/new">Add</a></li>
    </ul>
</div>
</body>
</html>
