<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/poll.css' %}">
    <title>Minguinho Login</title>
</head>
<body>
<div class="page-header">
    <h1><a style="font-size: 60px; color: #f2ffcc;" href="/">Schedule</a></h1>
</div>

<ul class="nav nav-pills">
    <li style="background-color:#fff5cc; font-family: 'Comic Sans MS'; color: #ffcc00; " role="presentation"><a href="/">Home</a> </li>
    <li style="color:#ffcc00; font-family: 'Comic Snas MS'; background-color: #fff5cc;" role="presentation"><a href="/post/list">Post List</a> </li>
    <li style="background-color:#ffcc00; font-family: 'Comic Snas MS'; color: #fff5cc;" role="presentation"><a href="/post/new">Add</a></li>
</ul>

<!--{% if form.errors %}-->
<!--<p>ID나 비밀번호가 일치하지 않습니다.</p>-->
<!--{% endif %}-->
<!--{% if next %}-->
    <!--{% if user.is_authenticated %}-->
    <!--<p>권한이 없는 페이지에 접근하였으니, 권한이 있는 계정으로 로그인하세요.</p>-->
    <!--{% else %}-->
    <!--<p>이 페이지를 보려면 로그인을 해야 합니다.</p>-->
    <!--{% endif %}-->
<!--{% endif %}-->
<form method="post" action="{% url 'login' %}">{% csrf_token %}

    <table>
        <tr style="padding: 5px 0px;">
            <th>ID</th>
            <td><input type="text" name="username">
            </td>
        </tr>
        <tr style="padding: 5px 0px;">
            <th>PASSWORD</th>
            <td><input type="password" name="password"></td>
        </tr>
    </table>
    <a href="{% url 'post_list' %}"><input type="submit" value="로그인" /></a>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
</body>
</html>
