<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<body>
<div class="page-header">
    <h1><a style="font-size: 60px; color: #f2ffcc;" href="/">Schedule</a></h1>
</div>

<ul class="nav nav-pills">
    <li style="background-color:#fff5cc; font-family: 'Comic Sans MS'; color: #ffcc00; " role="presentation"><a href="/">Home</a> </li>
    <li style="color:#ffcc00; font-family: 'Comic Snas MS'; background-color: #fff5cc;" role="presentation"><a href="/post/list">Post List</a> </li>
    <li style="background-color:#ffcc00; font-family: 'Comic Snas MS'; color: #fff5cc;" role="presentation"><a href="/post/new">Add</a></li>
</ul>

<form method="post" action="{% url 'logout' %}">{% csrf_token %}
    <table name="poll_myuser">
    </table>
</form>
</body>
</html>
