<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minguinho's schedule</title>
</head>
<body>
<ul class="nav nav-pills">
    <li style="background-color:#fff5cc; font-family: 'Comic Sans MS'; color: #ffcc00; " role="presentation"><a href="/">Home</a> </li>
    <li style="background-color:#ffcc00; font-family: 'Comic Snas MS'; color: #fff5cc;" role="presentation"><a href="/post/list">Post List</a> </li>
    <li style="color:#ffcc00; font-family: 'Comic Snas MS'; background-color: #fff5cc;" role="presentation"><a href="/post/new">Add</a></li>
</ul>
{% extends 'poll/base.html' %}

{% block content %}
    <div class="post">
        <h1 style="color:#ffb366; font-size: 32px;">{{ post.title }}</h1>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <p style="font-size: 22px;">{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}

</body>
</html>
